
<script type="text/javascript" src="__STATIC__/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/bootstrap-multitabs/multitabs.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/main.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/index.min.js"></script>
<!--图表插件-->
<script type="text/javascript" src="__STATIC__/admin/js/Chart.js"></script>
<script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
<script>
    layui.use('layer', function(){
        var layer = layui.layer;
    });

</script>
<script src="__STATIC__/blue/js/functions.js"></script>
<!--标签插件-->
<script src="__STATIC__/admin/js/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script src="__STATIC__/admin/js/Chart.js"></script>





