
<footer>
    <div class="footer box">
        <div class="wxbox">
            <ul>
                <li><img src="__STATIC__/blue/picture/wxgzh.jpg"><span>微信公众号</span></li>
                <li><img src="__STATIC__/blue/picture/wx.png"><span>我的微信</span></li>
            </ul>
        </div>
        <div class="endnav">
            <p><b>站点声明：</b></p>
            <p>1、网站初期基于TP6升级改造，若出现代码问题请及时反馈。</p>
            <p>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=571031767@qq.com" target="_blank">571031767@qq.com</a></p>
            <p>Copyright © <a href="{:cache('site_url')}" target="_blank">{:cache('site_url')}</a> All Rights Reserved. 备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">{:cache('site_icp')}</a> <a href="/sitemap.xml" target="_blank">网站地图</a></p>
        </div>
    </div>
</footer>