

<link href="__STATIC__/layui/css/layui.css" rel="stylesheet">
<link href="__STATIC__/layer/theme/default/layer.css" rel="stylesheet">

<link href="__STATIC__/blue/css/base.css" rel="stylesheet">
<link href="__STATIC__/blue/css/m.css" rel="stylesheet">
<link href="__STATIC__/blue/css/left_nav.css" rel="stylesheet">
<script src="__STATIC__/blue/js/jquery-2.1.1.min.js" ></script>

<script src="__STATIC__/layui/layui.js"></script>

<script src="__STATIC__/blue/js/main.js"></script>
<!--[if lt IE 9]>
<script src="__STATIC__/blue/js/modernizr.js"></script>
<![endif]-->
<!-- banner-->
<link rel="stylesheet" href="__STATIC__/blue/css/swiper.min.css">
<script src="__STATIC__/blue/js/swiper.min.js"></script>
<script src="__STATIC__/blue/js/banner.js"></script>
<script src="__STATIC__/layer/layer.js"></script>
<script src="__STATIC__/blue/js/functions.js"></script>
<script src="__STATIC__/blue/js/vue.min.js"></script>

