
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    {include file="public/css" /}
</head>

<body>


<div class="container-fluid p-t-15">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>{$title}</h4>
                </div>
                <div class="card-body">

                    <form  action="#!" method="post"  class="row layui-form">
                        <input type="hidden" name="contentid" value="{$content.id}">
                        <input type="hidden" name="articleid" value="{$article.id}">
                        <div class="form-group col-md-12">
                            <label for="type">栏目</label>
                            <div class="form-controls">
                                <select name="cate_id" class="form-control" id="type" lay-ignore>
                                    <option value="0">请选择</option>
                                    {volist name="cate" id="v"}
                                    {$t = $v.level*15}
                                    <option value="{$v.id}" {if condition="$content.cate_id eq $v.id"}selected{/if}>
                                        <?php for($k=0;$k<$v['level'];$k++){ if($k==0){echo "";}elseif($k==1){ echo "|_"; }else{ echo "_";} }?>
                                        {$v.name}
                                    </option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="title">标题</label>
                            <input type="text"  class="form-control" id="title" name="title" value="{$content.title}" placeholder="请输入标题" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="seo_keywords">作者</label>
                            <input type="text" class="form-control" id="seo_keywords" name="author" value="{$content.author}" placeholder="作者" />
                        </div>

                        <div class="form-group col-md-3">
                            <label>点击量</label>
                            <input type="text" class="form-control"  name="hits" value="{$content.hits}" placeholder="" />
                        </div>

                        <div class="form-group col-md-3">
                            <label for="tags">标签</label>
                            <input class="js-tags-input form-control" type="text" id="tags" name="tags" value="{$content.tags}" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="sort">排序</label>
                            <input type="text" class="form-control" id="sort" name="sort" value="{$content.sort}" />
                        </div>


                        <div class="form-group col-md-12">
                            <label></label>
                            <button type="button" class="layui-btn" id="upload">
                                <i class="layui-icon" style="display: inline-block">&#xe67c;</i>
                                上传图片
                            </button>
                            <input type="hidden" name="prefimg" value="{$content.prefimg}">
                            <div class="clear blank"></div>
                            {if condition="$content.prefimg"}
                            <img id="pref_img" style="max-width: 128px; max-height: 128px;" src="{$content.prefimg}" alt="">
                            {else /}
                            <img id="pref_img" style="max-width: 128px; max-height: 128px;" src="__STATIC__/blue/images/default_img.png" alt="">
                            {/if}
                            <div class="clear blank"></div>
                            <span>图片名不含中文</span>

                        </div>

                        <div class="form-group col-md-12">
                            <label for="tongyongdaima">通用代码 <span>系统会默认优先使用通用代码播放</span> </label>
                            <textarea class="form-control" id="tongyongdaima" name="tongyongdaima" rows="5" value="" placeholder="通用代码">{$article.tongyongdaima}</textarea>
                        </div>

                        <div class="form-group col-md-12">
                            <label>内容</label>
                            <p>

                                {:ueditor('info','95%','600',$article.info)}

                            </p>
                        </div>

                        
                        <div class="form-group col-md-12">
                            <button type="submit" lay-submit lay-filter="formDemo" class="btn btn-primary ajax-post" target-form="add-form">确 定</button>
                            <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>

{include file="public/js" /}

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        var url ="{:url('update')}";
        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.load();
            $.post(url,data.field,function (e) {
                layer.closeAll();
                if(e.code == 200){
                    success(e.msg);
                }else {
                    error(e.msg)
                }
            })
            return false;
        });
    });

    //图片上传
    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#upload' //绑定元素
            ,url: "{:url('admin/upload/upload')}" //上传接口
            ,accept:"__STATIC__/admin/images/"
            ,before: function(res){
                //上传完毕回调
                layer.load();
            }
            ,done: function(res){
                layer.closeAll();
                //上传完毕回调
                if(res.code == 200){
                    $("input[name=prefimg]").val(res.data);
                    $("#pref_img").attr("src",res.data);
                    success(res.msg);
                }else {
                    error(e.msg);
                }

            }
            ,error: function(){
                //请求异常回调
                layer.closeAll();
                error(e.msg);
            }
        });
    });
</script>
</body>
</html>











