<title>修改资料</title>
{include file="public/bootstrap" /}
{include file="public/header" /}

<body>

<div class="clear blank"></div>
<article>

    <div class="row">
        <div class="col-md-2">
            {include file="public/left_nav" /}
        </div>
        <div class="col-md-10 whitebg">
            <div class="page-header">
                <h1>修改密码 <small></small>

                </h1>
            </div>
            <div class="u_content">
            <form class="layui-form" action="">




                <div class="layui-form-item">
                    <label class="layui-form-label">原密码</label>
                    <div class="layui-input-block">
                        <input style="width: 50%" type="password" name="password"value="" required  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-block">
                        <input style="width: 50%" type="password" name="new_password"value="" required  lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-block">
                        <input style="width: 50%" type="password" name="re_password"value="" required  lay-verify="required" placeholder="确认新密码" autocomplete="off" class="layui-input">
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
            </div>
            <script>
                //Demo
                layui.use('form', function(){
                    var form = layui.form;

                    var url ="{:url('index/user/change_password')}";
                    //监听提交
                    form.on('submit(formDemo)', function(data){
                        layer.load();
                        $.post(url,data.field,function (e) {
                            layer.closeAll();
                            if(e.code == 200){
                                success(e.msg);
                                location.href="{:url('index/login/index')}"
                            }else {
                                error(e.msg);
                            }
                        })
                        return false;
                    });
                });
            </script>

            <div class="clear blank"></div>

        </div>
    </div>


</article>

<div class="clear blank"></div>
{include file="public/footer" /}


<a href="#" title="返回顶部" class="icon-top"></a>

</body>
</html>