
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    {include file="public/css" /}
</head>

<body>


<div class="container-fluid p-t-15">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>{$title}</h4>
                </div>
                <div class="card-body">

                    <form  action="#!" method="post"  class="row layui-form">
                        <div class="form-group col-md-12">
                            <label for="type">父级栏目</label>
                            <div class="form-controls">
                                <select name="pid" class="form-control" id="type" lay-ignore>
                                    <option value="0">顶级栏目</option>
                                    {volist name="list" id="v"}
                                    {$t = $v.level*15}
                                    <option value="{$v.id}" {if condition="$res.pid eq $v.id"}selected{/if}>
                                        <?php for($k=0;$k<$v['level'];$k++){ if($k==0){echo "";}elseif($k==1){ echo "|_"; }else{ echo "_";} }?>
                                        {$v.name}
                                    </option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="hidden" name="id" value="{$res.id}">
                            <label for="title">名称</label>
                            <input type="text" class="form-control" id="title" name="name" value="{$res.name}" placeholder="请输入标题" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="tags">关键字</label>
                            <input class="js-tags-input form-control" type="text" id="tags" name="seo_keys" value="{$res.tag}" />
                        </div>

                        <div class="form-group col-md-12">
                            <label for="seo_description">描述[可空]</label>
                            <textarea class="form-control" id="seo_description" name="seo_desc" rows="5" value="" placeholder="描述">{$res.description}</textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <label></label>
                            <button type="button" class="layui-btn" id="upload">
                                <i class="layui-icon" style="display: inline-block">&#xe67c;</i>
                                上传图片
                            </button>
                            <input type="hidden" name="img" value="{$res.img}">
                            <div class="clear blank"></div>
                            {if condition="$res.img"}
                            <img id="pref_img" style="max-width: 128px; max-height: 128px;" src="{$res.img}" alt="">
                            {else /}
                            <img id="pref_img" style="max-width: 128px; max-height: 128px;" src="__STATIC__/blue/images/default_img.png" alt="">
                            {/if}
                            <div class="clear blank"></div>
                            <span>图片名不含中文</span>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="status">状态</label>
                            <div class="clearfix">
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input lay-ignore type="radio" name="status" value="0"><span>禁用</span>
                                </label>
                                <label class="lyear-radio radio-inline radio-primary">
                                    <input lay-ignore type="radio" name="status" value="1" checked><span>启用</span>
                                </label>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-12" >
                            <button type="submit"  lay-submit lay-filter="formDemo" class="btn btn-primary ajax-post" target-form="add-form">确 定</button>
                            <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>

{include file="public/js" /}

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        var url ="{:url('update')}";
        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.load();
            $.post(url,data.field,function (e) {
                layer.closeAll();
                if(e.code == 200){
                    success(e.msg);
                }else {
                    error(e.msg)
                }
            })
            return false;
        });
    });

    //图片上传
    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#upload' //绑定元素
            ,url: "{:url('admin/upload/upload')}" //上传接口
            ,accept:"__STATIC__/admin/images/"
            ,before: function(res){
                //上传完毕回调
                layer.load();
            }
            ,done: function(res){
                layer.closeAll();
                //上传完毕回调
                if(res.code == 200){
                    $("input[name=img]").val(res.data);
                    $("#pref_img").attr("src",res.data);
                    success(res.msg);
                }else {
                    error(e.msg);
                }

            }
            ,error: function(){
                //请求异常回调
                layer.closeAll();
                error(e.msg);
            }
        });
    });
</script>
</body>
</html>











